@import "../scss/vars.scss";

.footer {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer__menu {
  display: flex;
  flex-direction: row;
  min-height: $footer_height;
}

.footer__tablet > a, .footer__menu__home, .footer__mobile__menu>a {
  display: block;
  font-size: 22px;
  text-align: left;
  // color: #fcd116;
  text-decoration: none;
  min-width: 150px;
  min-height: 35px;
  padding: 20px;
  text-align: right;
  background-color: #000;
  letter-spacing: 2px;
  &:not(.active):hover {
    color: #000;
    background-color: #00000042;
    transition: all 1s ease;
  }
  &.active {
    color: #000;
    background-color: unset;
    padding: 15px;
    font-weight: 900;
    cursor: default;
    transition: all 1s ease;
    letter-spacing: initial;
    font-size: 32px;
    // background-color: #fcd116cc; SET IN Main.tsx
    /* not yet in chrome */
    // -webkit-backdrop-filter: blur(5px);
    // backdrop-filter: blur(5px);
  }
}

a.footer__menu__home {
  text-align: left;
}

.footer__tablet {
  display: none;
  @include tablet() {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
  }
}

.footer__mobile {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  @include tablet() {
    display: none;
  }
}

.footer__mobile__menu {
  position: fixed;
  right: -100vw;
  background-color: #000000AA;
  display: block;
  z-index: 10;
  transition: right 0.5s ease;
  width: 100vw;
  bottom: $footer_height;
  @include tablet {
    display: none;
  }
  &.open {
    right: 0;
  }
}

.btn-nav {
  background: transparent;
  border: none;
  padding: 15px;
  transition: all .5s ease;
  cursor: pointer;
  // z-index: 10;
  &:focus {
    outline: 0;
  }
  .icon-bar {
    display: block;
    margin: 6px 0;
    width: 30px;
    height: 3px;
    background-color: #222;
    transition: all .7s ease;
    &.middle {
      margin: 0 auto;
    }
  }
  &.open {
    .icon-bar.top {
      transform: translateY(7px) rotateZ(45deg);
    }
    .icon-bar.bottom {
      transform: translateY(-11px) rotateZ(-45deg);
    }
    .icon-bar.middle {
      width: 0;
    }
  }
}



